$gap: 1vmin;

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: $gap;
  position: relative;
  box-sizing: border-box;
  &-cell {
    padding: $gap;
    width: var(--cell-size);
    aspect-ratio: 1/1;

    box-sizing: border-box;
    &-inner {
      box-sizing: border-box;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 5px;
      background-color: #9e9494;
    }
  }
}
