.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #bbada0;
  border: 0px solid #bbada0;
  border-radius: 5px;
  padding: 10px;
  &-cell {
    width: calc(100% / 4 - 20px);
    aspect-ratio: 1/1;
    margin: 10px;
    border-radius: 5px;
    background: gray;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    &-cell {
      width: calc(100% / 4 - 20px);
    }
  }
}

@media only screen and (max-width: 500px), only screen and (orientation: landscape) and (max-height: 500px) {
  .grid {
    &-cell {
      margin: 5px;
      width: calc(100% / 4 - 10px);
    }
  }
}
