.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #bbada0;
  border: 0px solid #bbada0;
  border-radius: 5px;
  padding: 10px;
  &__cell {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    background: gray;
  }
}
