$border-radius: 5px;
$text-color: #887070;
$bg-color: #bbada0;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  .title {
    margin: 10px;
    color: $text-color;
    font-size: 52px;
  }
}

.controls {
  display: flex;
  width: 100%;
  color: $text-color;
  padding: 0;
}

.score {
  &-title {
    font-size: 4vmin;
    margin: 0;
    color: $text-color;
  }
  margin: 5px;
  padding: 10px;
  background-color: $bg-color;
  color: white;
  text-align: center;
  border-radius: $border-radius;
  font-size: 4vmin;
  flex: 1;
  word-wrap: nowrap;
}

.game-button {
  flex: 2 auto 100%;
  width: 70px;
  background-color: $bg-color;
  margin: 5px;
  margin-bottom: 2vmin;
  padding: 20px 10px;
  border-radius: $border-radius;
  font-weight: 700;
  font-size: 4vmin;
  text-align: center;
  cursor: pointer;
}

input[type='checkbox'] {
  margin: 5px 10px;
}
